
  <div class="sec sec2">
    <h4 class="title">送货清单</h4>
    <table class="table">
      <tr class="header">
        <td class="">商品描述</td>
        <td class="">价格</td>
        <td class="">数量</td>
        <td class="">小计</td>
      </tr>
      <%data.orderItemVoList.forEach(value => {%>
        <tr class="product-item">
          <td>
            <img src="<%=data.imageHost + value.productImage%>" alt="">
            <span class="name"><%=value.productName%></span>
          </td>
          <td class="cell">$ <%=value.currentUnitPrice%></td>
          <td class="cell"><%=value.quantity%></td>
          <td class="cell">$ <%=value.totalPrice%></td>
        </tr>
      <%})%>
    </table>
  </div>
  <div class="footer sec3">
    <span class="total-price-wrapper">
      订单总价： <span class="total-price">$ <%=data.productTotalPrice%></span>
    </span>
    <span class="submit-order">提交订单</span>
  </div>
  
